@charset "UTF-8"

@-ms-viewport {
  width: device-width;
}

body {
  margin: 0;
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.list th {
  border-bottom: 1px solid #d6d6d6;
  background: #fff;
}

tr:nth-child(even) {
  border-bottom: 1px solid #d6d6d6;
  background: #fff;
}